# Import required functions

In [26]:
import pandas as pd

from helper import (
    create_connection_string,
    create_city_df,
    scrape_city_soups_from_wikipedia,
    create_geo_df_from_soups,
    create_population_df_from_soups,
    get_airports
)

# Load config

In [28]:
with open("config.json", "r") as f:
    config = json.load(f)
    db_config = config["db_config"]
    api_config = config["api_config"]
    print("Config loaded.")

Config loaded.

# Create connection string

In [30]:
connection_string = create_connection_string(
    db_config["schema"],
    db_config["host"],
    db_config["user"],
    db_config["password"],
    db_config["port"]
)

# Define city baseline

In [32]:
cities = [
    ('Berlin', 'DE'),
    ('Vienna', 'AT'),
    ('New York City', 'US'),
    ('Munich', 'DE'),
    ('Hamburg', 'DE'),
    ('Paris', 'FR'),
    ('London', 'GB'),
    ('Tokyo', 'JP'),
    ('Sydney', 'AU'),
    ('Rio de Janeiro', 'BR'),
    ('Moscow', 'RU'),
    ('Dubai', 'AE'),
    ('Toronto', 'CA'),
    ('Cologne', 'DE'),
    ('Amsterdam', 'NL')
]

# Create cities table and send to SQL

In [34]:
df_cities = create_city_df(cities)
df_cities

         city_name city_country_code
0           Berlin                DE
1           Vienna                AT
2    New York City                US
3           Munich                DE
4          Hamburg                DE
5            Paris                FR
6           London                GB
7            Tokyo                JP
8           Sydney                AU
9   Rio de Janeiro                BR
10          Moscow                RU
11           Dubai                AE
12         Toronto                CA
13         Cologne                DE
14       Amsterdam                NL

In [35]:
df_cities.to_sql(
    'cities',
    if_exists='append',
    con=connection_string,
    index=False
)

15

# Receive cities table from SQL with IDs

In [37]:
cities_from_sql = pd.read_sql("cities", con=connection_string)
cities_from_sql

    city_id       city_name city_country_code
0         1          Berlin                DE
1         2          Vienna                AT
2         3   New York City                US
3         4          Munich                DE
4         5         Hamburg                DE
5         6           Paris                FR
6         7          London                GB
7         8           Tokyo                JP
8         9          Sydney                AU
9        10  Rio de Janeiro                BR
10       11          Moscow                RU
11       12           Dubai                AE
12       13         Toronto                CA
13       14         Cologne                DE
14       15       Amsterdam                NL

# Scrape Wikipedia of cities

In [39]:
city_soups = scrape_city_soups_from_wikipedia(cities)
print(len(city_soups))

15

# Create geodata table, enrich with city IDs and send to SQL

In [41]:
df_city_geodata = create_geo_df_from_soups(cities, city_soups)
df_city_geodata

    city_latitude  city_longitude
0       52.516667       13.400000
1       48.200000       16.366667
2       40.700000      -74.000000
3       48.133333       11.566667
4       53.550000       10.000000
5       48.850000        2.350000
6       51.500000       -0.116667
7       35.683333      139.683333
8      -33.866667      151.200000
9      -22.900000      -43.200000
10      55.750000       37.616667
11      25.250000       55.283333
12      43.650000      -79.383333
13      50.933333        6.950000
14      52.366667        4.883333

In [42]:
df_city_geodata = pd.concat([df_cities, df_city_geodata], axis=1).merge(
    cities_from_sql,
    on = "city_name",
    how="left"
)[['city_id', 'city_longitude', 'city_latitude']]
df_city_geodata

    city_id  city_longitude  city_latitude
0         1       13.400000      52.516667
1         2       16.366667      48.200000
2         3      -74.000000      40.700000
3         4       11.566667      48.133333
4         5       10.000000      53.550000
5         6        2.350000      48.850000
6         7       -0.116667      51.500000
7         8      139.683333      35.683333
8         9      151.200000     -33.866667
9        10      -43.200000     -22.900000
10       11       37.616667      55.750000
11       12       55.283333      25.250000
12       13      -79.383333      43.650000
13       14        6.950000      50.933333
14       15        4.883333      52.366667

In [43]:
df_city_geodata.to_sql(
    'geodata',
    if_exists='append',
    con=connection_string,
    index=False
)

15

# Create populations table, enrich with city IDs and send to SQL

In [45]:
df_city_population = create_population_df_from_soups(cities, city_soups)
df_city_population

    population timestamp_population
0      3596999           2025-05-28
1      2028499           2025-05-28
2      8804190           2025-05-28
3      1510378           2025-05-28
4      1964021           2025-05-28
5      2048472           2025-05-28
6      8866180           2025-05-28
7     14187176           2025-05-28
8      5557233           2025-05-28
9      6211223           2025-05-28
10    13010112           2025-05-28
11     3944751           2025-05-28
12     2794356           2025-05-28
13     1024408           2025-05-28
14      933680           2025-05-28

In [46]:
df_city_population = pd.concat([df_cities, df_city_population], axis=1).merge(
    cities_from_sql,
    on = "city_name",
    how="left"
)[['city_id', 'population', 'timestamp_population']]
df_city_population

    city_id  population timestamp_population
0         1     3596999           2025-05-28
1         2     2028499           2025-05-28
2         3     8804190           2025-05-28
3         4     1510378           2025-05-28
4         5     1964021           2025-05-28
5         6     2048472           2025-05-28
6         7     8866180           2025-05-28
7         8    14187176           2025-05-28
8         9     5557233           2025-05-28
9        10     6211223           2025-05-28
10       11    13010112           2025-05-28
11       12     3944751           2025-05-28
12       13     2794356           2025-05-28
13       14     1024408           2025-05-28
14       15      933680           2025-05-28

In [47]:
df_city_population.to_sql(
    'populations',
    if_exists='append',
    con=connection_string,
    index=False
)

15

# Create cities_airports and airports table, enrich with city IDs and send to SQL

In [49]:
df_city_airports = get_airports(
    df_city_geodata['city_id'].values,
    df_city_geodata['city_latitude'].values,
    df_city_geodata['city_longitude'].values,
    api_config
)
df_city_airports

,icao,iata,name,shortName,municipalityName,countryCode,timeZone,location.lat,location.lon,city_id,localCode
0,EDDT,TXL,Berlin -Tegel,-Tegel,Berlin,DE,Europe/Berlin,52.559700,13.287699,1,NaN
1,EDDB,BER,Berlin Brandenburg,Brandenburg,Berlin,DE,Europe/Berlin,52.351390,13.493889,1,NaN
2,LOWW,VIE,Vienna Schwechat,Schwechat,Vienna,AT,Europe/Vienna,48.110300,16.569700,2,NaN
3,KLGA,LGA,New York La Guardia,La Guardia,New York,US,America/New_York,40.777200,-73.872600,3,NaN
4,KEWR,EWR,Newark Liberty,Liberty,Newark,US,America/New_York,40.692500,-74.168700,3,NaN
5,KTEB,TEB,Teterboro,Teterboro,Teterboro,US,America/New_York,40.850100,-74.060800,3,NaN
6,KJFK,JFK,New York John F Kennedy,John F Kennedy,New York,US,America/New_York,40.639800,-73.778900,3,NaN
7,KCDW,CDW,Caldwell Essex County,Essex County,Caldwell,US,America/New_York,40.875200,-74.281400,3,NaN
8,KMMU,MMU,Morristown Municipal,Municipal,Morristown,US,America/New_York,40.799400,-74.414900,3,NaN
9,KHPN,HPN,White Plains Westchester County,Westchester County,White Plains,US,America/New_York,41.067000,-73.707600,3,NaN
10,KFRG,FRG,Farmingdale Republic,Republic,Farmingdale,US,America/New_York,40.728800,-73.413400,3,NaN
11,EDDM,MUC,Munich,Munich,Munich,DE,Europe/Berlin,48.353800,11.786100,4,NaN
12,EDDH,HAM,Hamburg,Hamburg,Hamburg,DE,Europe/Berlin,53.630400,9.988229,5,NaN
13,LFPO,ORY,Paris -Orly,-Orly,Paris,FR,Europe/Paris,48.725300,2.359440,6,NaN
14,LFPB,LBG,Paris -Le Bourget,-Le Bourget,Paris,FR,Europe/Paris,48.969400,2.441390,6,NaN
15,LFPG,CDG,Paris Charles de Gaulle,Charles de Gaulle,Paris,FR,Europe/Paris,49.012800,2.549999,6,NaN
16,EGLC,LCY,London City,City,London,GB,Europe/London,51.505300,0.055277,7,NaN
17,EGLL,LHR,London Heathrow,Heathrow,London,GB,Europe/London,51.470600,-0.461941,7,NaN
18,EGKR,KRH,Redhill Aerodrome,Aerodrome,Redhill,GB,Europe/London,51.213600,-0.138611,7,NaN
19,EGKK,LGW,London Gatwick,Gatwick,London,GB,Europe/London,51.148100,-0.190277,7,NaN
20,EGGW,LTN,London Luton,Luton,London,GB,Europe/London,51.874700,-0.368333,7,NaN
21,EGSS,STN,London Stansted,Stansted,London,GB,Europe/London,51.885000,0.234999,7,NaN
22,RJTT,HND,Tokyo,Tokyo,Tokyo,JP,Asia/Tokyo,35.552300,139.780000,8,NaN
23,YSSY,SYD,Sydney Kingsford Smith,Kingsford Smith,Sydney,AU,Australia/Sydney,-33.946100,151.177000,9,NaN
24,SBRJ,SDU,Rio de Janeiro Santos Dumont,Santos Dumont,Rio de Janeiro,BR,America/Sao_Paulo,-22.910500,-43.163100,10,NaN
25,SBGL,GIG,Rio de Janeiro RIOgaleão – Tom Jobim,RIOgaleão – Tom Jobim,Rio de Janeiro,BR,America/Sao_Paulo,-22.810000,-43.250557,10,NaN
26,UUEE,SVO,Moscow Sheremetyevo,Sheremetyevo,Moscow,RU,Europe/Moscow,55.972600,37.414600,11,ШРМ
27,UUWW,VKO,Moscow Vnukovo,Vnukovo,Moscow,RU,Europe/Moscow,55.591500,37.261500,11,ВНК
28,UUBW,ZIA,Moscow Zhukovsky,Zhukovsky,Moscow,RU,Europe/Moscow,55.553300,38.150000,11,ЖУК
29,UUDD,DME,Moscow Domodedovo,Domodedovo,Moscow,RU,Europe/Moscow,55.408800,37.906300,11,ДМД
30,OMDB,DXB,Dubai,Dubai,Dubai,AE,Asia/Dubai,25.252798,55.364400,12,NaN
31,OMSJ,SHJ,Sharjah,Sharjah,Sharjah,AE,Asia/Dubai,25.328600,55.517200,12,NaN
32,OMDW,DWC,Jebel Ali Al Maktoum,Al Maktoum,Jebel Ali,AE,Asia/Dubai,24.896666,55.161390,12,NaN
33,CYTZ,YTZ,Toronto Billy Bishop City Centre,Billy Bishop City Centre,Toronto,CA,America/Toronto,43.627500,-79.396200,13,NaN
34,CYYZ,YYZ,Toronto Pearson,Pearson,Toronto,CA,America/Toronto,43.677200,-79.630600,13,NaN
35,EDDK,CGN,Cologne Bonn,Bonn,Cologne,DE,Europe/Berlin,50.865900,7.142739,14,NaN
36,EDDL,DUS,Düsseldorf,Düsseldorf,Düsseldorf,DE,Europe/Berlin,51.289500,6.766779,14,NaN
37,EHAM,AMS,Amsterdam Schiphol,Schiphol,Amsterdam,NL,Europe/Amsterdam,52.308600,4.763889,15,NaN
38,EHLE,LEY,Lelystad,Lelystad,Lelystad,NL,Europe/Amsterdam,52.460300,5.527219,15,NaN

In [50]:
df_airports = df_city_airports.loc[:, ['icao', 'name']].rename(
    columns={
    'icao' : 'airport_icao',
    'name' : 'airport_name'
    }
)
df_airports

   airport_icao                          airport_name
0          EDDT                         Berlin -Tegel
1          EDDB                    Berlin Brandenburg
2          LOWW                      Vienna Schwechat
3          KLGA                   New York La Guardia
4          KEWR                        Newark Liberty
5          KTEB                             Teterboro
6          KJFK               New York John F Kennedy
7          KCDW                 Caldwell Essex County
8          KMMU                  Morristown Municipal
9          KHPN       White Plains Westchester County
10         KFRG                  Farmingdale Republic
11         EDDM                                Munich
12         EDDH                               Hamburg
13         LFPO                           Paris -Orly
14         LFPB                     Paris -Le Bourget
15         LFPG               Paris Charles de Gaulle
16         EGLC                           London City
17         EGLL                       London Heathrow
18         EGKR                     Redhill Aerodrome
19         EGKK                        London Gatwick
20         EGGW                          London Luton
21         EGSS                       London Stansted
22         RJTT                                 Tokyo
23         YSSY                Sydney Kingsford Smith
24         SBRJ          Rio de Janeiro Santos Dumont
25         SBGL  Rio de Janeiro RIOgaleão – Tom Jobim
26         UUEE                   Moscow Sheremetyevo
27         UUWW                        Moscow Vnukovo
28         UUBW                      Moscow Zhukovsky
29         UUDD                     Moscow Domodedovo
30         OMDB                                 Dubai
31         OMSJ                               Sharjah
32         OMDW                  Jebel Ali Al Maktoum
33         CYTZ     Toronto Billy Bishop  City Centre
34         CYYZ                       Toronto Pearson
35         EDDK                          Cologne Bonn
36         EDDL                            Düsseldorf
37         EHAM                    Amsterdam Schiphol
38         EHLE                              Lelystad

In [51]:
df_airports.to_sql(
    'airports',
    if_exists='append',
    con=connection_string,
    index=False
)

39

In [52]:
df_cities_airports = df_city_airports.loc[:, ['city_id', 'icao']].rename(
    columns={'icao' : 'airport_icao'}
)
df_cities_airports

    city_id airport_icao
0         1         EDDT
1         1         EDDB
2         2         LOWW
3         3         KLGA
4         3         KEWR
5         3         KTEB
6         3         KJFK
7         3         KCDW
8         3         KMMU
9         3         KHPN
10        3         KFRG
11        4         EDDM
12        5         EDDH
13        6         LFPO
14        6         LFPB
15        6         LFPG
16        7         EGLC
17        7         EGLL
18        7         EGKR
19        7         EGKK
20        7         EGGW
21        7         EGSS
22        8         RJTT
23        9         YSSY
24       10         SBRJ
25       10         SBGL
26       11         UUEE
27       11         UUWW
28       11         UUBW
29       11         UUDD
30       12         OMDB
31       12         OMSJ
32       12         OMDW
33       13         CYTZ
34       13         CYYZ
35       14         EDDK
36       14         EDDL
37       15         EHAM
38       15         EHLE

In [53]:
df_cities_airports.to_sql(
    'cities_airports',
    if_exists='append',
    con=connection_string,
    index=False
)

39